doctype 5
html
  head
    script(src='/socket.io/socket.io.js')
    script
      // socket.io specific code
      var socket = io.connect('http://127.0.0.1:4000/chat');

      socket.socket.on('error', function (reason){
        console.error('Unable to connect Socket.IO', reason);
      });

      socket.on('connect', function () {
        console.log('connected');
        socket.emit('joinRoom',{roomId:1});
      });
      
      socket.on('roomJoined', function () {
        console.log('room Joined');
      });
      
  body
